<?xml version="1.0" encoding="utf-8"?>
<web-app>
    <title>Config</title>
    <Server>35.241.68.43</Server>
    <Profile>nesk_woe</Profile>
    <Pwd></Pwd>
    <fromaid>59668</fromaid>>
    <toaid>200500000</toaid>>
    <logpath>C:\crawler\crawlerlog</logpath>
    <picpath>C:\crawler\PicDownLoad</picpath>>
</web-app>
